openapi: 3.2.0
info:
  title: METACRAN CranLogs Badges API
  description: REST API providing download statistics for R packages from the RStudio CRAN mirror. Supports per-package and top-package download counts across daily, weekly, monthly, and all-time periods. Returns JSON responses.
  version: 1.0.0
  contact:
    name: METACRAN
    url: https://r-pkg.org
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://cranlogs.r-pkg.org
  description: METACRAN CranLogs production server
tags:
- name: Badges
  description: Download count badge endpoints
paths:
  /badges/{period}/{package}:
    get:
      operationId: getDownloadBadge
      summary: Get Download Count Badge
      description: Returns an SVG badge showing the download count for an R package over the specified period. Suitable for embedding in README files.
      tags:
      - Badges
      parameters:
      - name: period
        in: path
        required: true
        description: Badge period (last-day, last-week, grand-total)
        schema:
          type: string
          enum:
          - last-day
          - last-week
          - grand-total
          example: grand-total
      - name: package
        in: path
        required: true
        description: R package name
        schema:
          type: string
          example: Rcpp
      responses:
        '200':
          description: SVG badge image
          content:
            image/svg+xml:
              schema:
                type: string
