openapi: 3.2.0
info:
  title: METACRAN CranLogs Top Packages API
  description: REST API providing download statistics for R packages from the RStudio CRAN mirror. Supports per-package and top-package download counts across daily, weekly, monthly, and all-time periods. Returns JSON responses.
  version: 1.0.0
  contact:
    name: METACRAN
    url: https://r-pkg.org
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://cranlogs.r-pkg.org
  description: METACRAN CranLogs production server
tags:
- name: Top Packages
  description: Most-downloaded CRAN packages
paths:
  /top/{period}/{count}:
    get:
      operationId: getTopPackages
      summary: Get Top Downloaded Packages
      description: Returns the most-downloaded CRAN packages for the specified time period. Count is limited to a maximum of 100.
      tags:
      - Top Packages
      parameters:
      - name: period
        in: path
        required: true
        description: Time period for ranking (last-day, last-week, last-month)
        schema:
          type: string
          enum:
          - last-day
          - last-week
          - last-month
          example: last-week
      - name: count
        in: path
        required: true
        description: Number of top packages to return (max 100)
        schema:
          type: integer
          minimum: 1
          maximum: 100
          example: 20
      responses:
        '200':
          description: Top downloaded packages for the period
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopPackages'
components:
  schemas:
    TopPackages:
      type: object
      properties:
        start:
          type: string
          format: date
          description: Start date of the period
          example: '2024-01-22'
        end:
          type: string
          format: date
          description: End date of the period
          example: '2024-01-28'
        downloads:
          type: array
          description: Package download rankings
          items:
            $ref: '#/components/schemas/PackageRanking'
    PackageRanking:
      type: object
      properties:
        package:
          type: string
          description: R package name
          example: Rcpp
        downloads:
          type: integer
          description: Download count for the period
          example: 853210
